fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
slowapi
python-dotenv
redis==5.0.7
httpx==0.27.2